<ion-header>
  <ion-toolbar class="motohub">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="." color="success"></ion-back-button>
      </ion-buttons>
      <ion-title id="titulo">
          <img
              src="../../assets/img/logoMH3.png"
              alt=""
              style="max-width: 50%; margin-top: 3%"></ion-title>
      </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <ion-grid>
      <ion-row>
          <ion-col size="12">
              <ion-text color="medium">
                  <h5>Datos Personales</h5>
              </ion-text>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label position="stacked" color="{{label}}" required="true">(*) Nombre(s)
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="nombre"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label position="stacked" color="{{label}}">(*) Apellido
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="apellido"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label position="stacked" color="{{label}}">(*) Año de nacimiento</ion-label>
                  <ion-input type="tel" maxlength="4" [(ngModel)]="edad"></ion-input>
              </ion-item>
              <p style="color: #A50202;font-size: 10px;" [hidden]=hide1>* Favor de llenar los campos correctamente</p>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label position="stacked" color="{{label}}">(*) Celular</ion-label>
                  <ion-input type="tel" maxlength="10" [(ngModel)]="celular"></ion-input>
                  <ion-icon
                      (click)="presentPopover($event, 'celular')"
                      name="information-circle"
                      color="light"
                      size="small"
                      slot="end"
                      align-self-center="align-self-center"></ion-icon>
              </ion-item>
              <p style="color: #A50202;font-size: 10px;" [hidden]=hide2>* Favor de llenar los campos correctamente</p>
          </ion-col>
          <ion-col size="12">
              <ion-item>
                  <ion-label position="stacked" color="light">Moto Club</ion-label>
                  <ion-input type="text" [(ngModel)]="motoClub"></ion-input>
                  <ion-icon
                      (click)="presentPopover($event, 'motoclub')"
                      name="information-circle"
                      color="light"
                      size="small"
                      slot="end"
                      align-self-center="align-self-center"></ion-icon>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-button
          (click)="regUser(nombre,apellido,edad,celular,motoClub)"
          color="success"
          expand="block"
          size="default"
          style="margin-top: 30px; ">
          Siguiente
      </ion-button>
  </ion-grid>

</ion-content>
