

<ion-content class="ion-padding motohub" color="motohub">

  <img class="" src="../../assets/img/logoMH2.png" alt="" style="max-width: 70%; margin-left: 15%; margin-top: 30%;">
  <ion-button routerLink="/login" style="margin-top: 60%" color="medium" expand="block" size="default"><span>Iniciar Sesión</span></ion-button>
  <ion-button routerLink="/signin" style="margin-top: 10px" color="medium" expand="block" size="default">Registrarse</ion-button>
  <p class="ion-text-center" routerLink="/password" style="color:white">¿Olvidaste tu contraseña?</p>

</ion-content>
  