<ion-header>
        <ion-toolbar class="motohub">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="." color="success"></ion-back-button>
            </ion-buttons>
            <ion-title id="titulo">
            <img
                src="../../assets/img/logoMH3.png"
                alt=""
                style="max-width: 50%; margin-top: 3%"></ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
        <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <ion-text color="dark">
                        <h5>Datos de Salud</h5>
                    </ion-text>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="light">Número de seguro</ion-label>
                        <ion-input type="tel" maxlength="11" [(ngModel)]="seguro"></ion-input>
                        <ion-icon
                            (click)="presentPopover($event, 'seguro')"
                            name="information-circle"
                            color="light"
                            size="small"
                            slot="end"
                            align-self-center="align-self-center"></ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="light">Tipo de sangre</ion-label>
                        <ion-select placeholder="Selecciona una" [(ngModel)]="sangre">
                            <ion-select-option value="O Positivo">O+</ion-select-option>
                            <ion-select-option value="O Negativo">O-</ion-select-option>
                            <ion-select-option value="A Positivo">A+</ion-select-option>
                            <ion-select-option value="A Negativo">A-</ion-select-option>
                            <ion-select-option value="B Positivo">B+</ion-select-option>
                            <ion-select-option value="B Negativo">B-</ion-select-option>
                            <ion-select-option value="AB Positivo">AB+</ion-select-option>
                            <ion-select-option value="AB Negativo">AB-</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="light">Alergia(s)
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="alergia"></ion-input>
                        <ion-icon
                            (click)="presentPopover($event, 'alergia')"
                            name="information-circle"
                            color="light"
                            size="small"
                            slot="end"
                            align-self-center="align-self-center"></ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="{{label}}">(*) Donador de órganos</ion-label>
                        <ion-select placeholder="Select one" [(ngModel)]="organos">
                            <ion-select-option value="si">Si</ion-select-option>
                            <ion-select-option value="no">No</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-text color="dark">
                        <h5>Contacto de emergencia</h5>
                    </ion-text>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="{{label}}">(*) Nombre de contacto</ion-label>
                        <ion-input type="text" [(ngModel)]="contactoEmergencia"></ion-input>
                        <ion-icon
                            (click)="presentPopover($event, 'contactoEmergencia')"
                            name="information-circle"
                            color="light"
                            size="small"
                            slot="end"
                            align-self-center="align-self-center"></ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="{{label}}">(*) Parentezco</ion-label>
                        <ion-input type="text" [(ngModel)]="parentezco"></ion-input>
                        <ion-icon
                            (click)="presentPopover($event, 'parentezco')"
                            name="information-circle"
                            color="light"
                            size="small"
                            slot="end"
                            align-self-center="align-self-center"></ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="stacked" color="{{label}}">(*) Celular</ion-label>
                        <ion-input type="tel" maxlength="10" [(ngModel)]="celContacto"></ion-input>
                    </ion-item>
                    <p style="color: #A50202;font-size: 10px;" [hidden]=hide1>* Favor de llenar los campos correctamente</p>
                </ion-col>
            </ion-row>

            <br>

            <ion-item color="transparent">
                    <ion-checkbox mode="md" color="success" (ionChange)="terminos_change($event)" slot="start"></ion-checkbox>
                    <ion-label color="light" color="{{label2}}" style="font-size: 14px;">(*) Acepto los terminos y condiciones</ion-label>
            </ion-item>

            <p class="ion-text-center" style="font-size: 14px;"><a (click)="terminos()"><ins>Terminos y condiciones</ins></a></p>

            <ion-button
                (click)="registro(seguro, sangre, alergia, organos, contactoEmergencia, parentezco, celContacto)"
                color="success"
                expand="block"
                size="default"
                style="margin-top: 30px; ">
                Registrar
            </ion-button>
        </ion-grid>
    </ion-content>