<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
  
  

<ion-content class="ion-padding " color="white">

  <br>
  <ion-text color="dark">Ingresa tu correo electrónico para recuperar tu contraseña:</ion-text>
  <br><br>
  <ion-item>
    <ion-label position="stacked">Correo Electronico</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button style="margin-top: 30px" color="success" expand="block" size="default">Recuperar</ion-button>
    
</ion-content>
